# Arquivos de credenciais e configurações locais
token.pickle
credentials.json
.env
.env.local
token_1.pickle
token_2.pickle
token_3.pickle
token_4.pickle
token_5.pickle
token_6.pickle
token_7.pickle

# Ambientes virtuais Python
venv/
env/
.venv/

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de PDF processados (se não quiser versionar)
data/processed/

# Outros arquivos temporários ou logs
*.log
*.tmp